:root {
    --card-color: hsl(0, 0%, 100%);
    --bgc-color: hsl(212, 45%, 89%);

    --fs: 15px;


}

body {
    background-color: var(--bgc-color);
}

.card {
    background-color: var(--card-color);

    display: flex;
    flex-direction: column;
    height: 75%;
    width: 100%;
    max-width: 400px;

    margin: auto;
    padding: 15px;
}

img {
    width: 100%;
    max-width: 200px;
}

p {
    margin: auto;
    text-align: center;
}
