@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 15px;

}

h1 {
  color: var(--light-gray);
  font-size: xx-large;
  font-family: 'Big Shoulders Display';
}

p {
  color: var(--transparent-white);
  font-family: 'Lexend Deca';
}

picture > img {
  margin-bottom: 2rem;
}
h1 {
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 3rem;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --darker-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);

  /* Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75) */
  /* Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3), 1fr;
  margin: 5rem 0;
  width: 350px;
}

.sedans, .suv, .luxury {
  padding: 4rem;
}

.sedans {
  background-color: var(--bright-orange);
  border-radius: 15px 15px 0 0;
}

.suv {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--darker-cyan);
  border-radius: 0 0 15px 15px;
}

.sedans > a {
  background-color: var(--light-gray);
  border-radius: 25px;
  color: var(--bright-orange);
  font-family: 'Lexend Deca';
  margin: 1rem 0;
  padding: 1rem 3rem;
  text-decoration: none;
}
.suv > a {
  background-color: var(--light-gray);
  border-radius: 25px;
  color: var(--dark-cyan);
  font-family: 'Lexend Deca';
  margin: 1rem 0;
  padding: 1rem 3rem;
  text-decoration: none;
}
.luxury > a {
  background-color: var(--light-gray);
  border-radius: 25px;
  color: var(--darker-cyan);
  font-family: 'Lexend Deca';
  margin: 1rem 0;
  padding: 1rem 3rem;
  text-decoration: none;
}

@media /*screen and (orientation: landscape),*/ (min-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 930px;
  }

  .sedans {
    background-color: var(--bright-orange);
    border-radius: 15px 0 0 15px;
  }
  
  .suv {
    background-color: var(--dark-cyan);
  }
  
  .luxury {
    background-color: var(--darker-cyan);
    border-radius: 0 15px 15px 0;
  }
  
}