@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

:root {
  font-family: 'Oxygen';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  background: linear-gradient(#f0f1ff, #e4dff7);
  display: grid;
  min-height: 84vh;
  place-content: center;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

ul {
  background-color: aliceblue;
  padding: 2rem;
}
a {
  font-size: large;
  text-decoration: none;
  text-align: center;
}
a:hover {
  color: red;
}

li {
  list-style: none;
}