@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%); /* very dark destaurated blue */
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

  --font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  background-color: var(--dark-cyan);
  background-image: url(/frontend-mentor/newbie/profile-card-component-main/profile-card-component-main/images/bg-pattern-bottom.svg);

  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid red;
  width: 425px;
  
  display: grid;
  grid-template-rows: repeat(3), 1fr;
  
}


.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}