@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  --button: hsl(245, 75%, 52%);
  --top-wave: hsl(224, 23%, 55%);
  --hover-color: hsl(223, 47%, 23%);
  --primary-color: hsl(225, 100%, 94%);
  --neutral-color: hsl(225, 100%, 98%);
  --font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: var(--primary-color);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.grid-card {
  background-color: #fff;
  min-height: 100%;
  width: 350px;
  

  display: grid;
  align-self: center;
  place-items: center;
}

#hero-image {
  width: 100%;
  /* margin: 16px 0px; */
}

.grid-card > h2 {
  font-weight: 900;
  width: max-content;
}

.grid-card > p {
  color: gray;
  padding: 0 3rem;
  text-align: center;  
}

.select-card {
  background-color: var(--neutral-color);
  border-radius: 1rem;
  
  display: flex;
  flex-direction: row;
  
  margin: auto;
  padding: 1rem;
  width: max-content;
}

.text-wrapper {
  padding-left: 1rem;
}

.text-wrapper > #bold {
  font-weight: 700;
}

.text-wrapper > #gray
{
  color: gray;
}

.change-btn {
  background-color: inherit;
  border: hidden;
  color: var(--button);

  padding-left: 3rem;

  text-decoration-line: underline;
  
}

.payment-btn {
  background-color: var(--button);
  border-radius: .7rem;
  color: #fff;

  padding: 1rem 4rem;
  text-decoration: none;
}

#cancel-order {
  color: gray;
  font-weight: 700;
  text-decoration: none;
}


.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}





    /* box-shadow: -1px 36px 68px -16px rgba(74,37,179,0.7);
    -webkit-box-shadow: -1px 36px 68px -16px rgba(74,37,179,0.7);
    -moz-box-shadow: -1px 36px 68px -16px rgba(74,37,179,0.7); */