
/* universal selectors */
:root {
  /* Single Colors */
  --purple: #666ca3;
  --blue: #13183f;
  --gray: #83869a;
  --pink-dark: #f74780;
  --pink-light: #ffa7c3;
  --white: #fff;

  /* Gradient Colors */
  --gradient-pink: #f02aa6;
  --gradient-orange: #ff6f48;
  --gradient-blue: #4851ff;
  --gradient-background-bottom: #f0f1ff;

  /* Button Measurements */
  --button-padding-top-bottom: 2.1rem;
  --button-padding-left-right: 0.933rem;

  font-size: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans';
}

body {
  background: linear-gradient(var(--white), var(--gradient-background-bottom));
  min-height: 100vh;
}



/* END OF universal selectors */

/* direct children of body */

.top-content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 1rem ;
  
}
.top-content > span {
  font-weight: 900;
} 
.top-content > button {
  border: none;
  padding: 1rem 2rem;
}
.top-content > button:hover {
  background-color: var(--purple);
  transition: .25s;
}
.middle-content {
  margin: 3rem .5rem 0.5rem;
}

.middle-content > ul >li:nth-child(1) > p {
  background: linear-gradient(var(--gradient-orange), var(--gradient-pink));
  border-radius: 15px;
  color: white;
  font-size: 23px;
  padding: 1.5rem 5rem 1.5rem 2rem;
}
/* li {
  list-style: none;
} */

.tablet {
  display: none;
}
.desktop {
  display: none;
}

.brand {
  font-size: xx-large;
}

button {
  background-color: var(--blue);
  border-radius: 100px;
  color: #fff;
  padding: .5rem;
}

.bottom-content {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  /* margin-top: 10rem; */
  height: 65px;
  bottom: -1;
  position: absolute;
  width: 100vw;
}
.bottom-content > button {
  background: linear-gradient(var(--gradient-blue), var(--gradient-pink));
  border: none;
  padding: 1rem 2rem;
}

/* END of direct children */



/* PHASE 2 */

h1 {
  font-size:xxx-large;
  margin-bottom: 2rem;
}

p {
  font-size: 20px;
  line-height: 2;
  margin-bottom: 1.5rem;
}
.hero-header > button {
  background: linear-gradient(var(--gradient-orange), var(--gradient-pink));
  border: none;
  padding: 1rem 2rem;
}

img {
  width: 100%;
}


/* END OF PHASE 2 */

/* list wrappers */
.wrapper {
  background-color: var(--white);
  margin: 3rem auto;
  padding: 1rem;
}
.wrapper > h2 {
  font-size: x-large;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* icons */
.icon {
  margin-top: -3rem;
  width: 15%;
}




/* tablets */

@media (min-width: 568px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: inline;
    width: 40rem;
    margin-right: -30rem;
    margin-top: -7rem;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  li {
    list-style: none;
  }
  
  li:nth-child(1) > p {
    grid-area: 'a';
    margin-top: 3rem;
    height: 17rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  li:nth-child(2) {
    grid-area: 'b'
  }
  li:nth-child(3) {
    grid-area: 'c'
  }
  li:nth-child(4) { 
    grid-area: 'd'
  }
  li:nth-child(5) {
    grid-area: 'e'
  }
  li:nth-child(6) {
    grid-area: 'f'
  }
  ul {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "a b"
    'c d'
    'e f';
  }
}

@media (min-width: 824px) {
  li:nth-child(1) > p {
    grid-area: 'a';
    margin-top: 3rem;
    height: 17rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  li:nth-child(2) {
    grid-area: 'b'
  }
  li:nth-child(3) {
    grid-area: 'c'
  }
  li:nth-child(4) { 
    grid-area: 'd'
  }
  li:nth-child(5) {
    grid-area: 'e'
  }
  li:nth-child(6) {
    grid-area: 'f'
  }
  ul {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "a b c"
    'd e f';
  }
  .top-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
  }

  .middle-content {
    margin: auto 10rem;
  }

  .bottom-content {
    display: flex;
    justify-content: space-around;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: block;
    margin-right: -30rem;
  }
}